$brand-white: #FFF;
$brand-black: #2E2E2E;
$brand-bright-blue: #1DA1F2;
$brand-dark-blue: #0E71A7;
$brand-font: 'IBM Plex Sans Condensed', sans-serif;

$small-laptop-width: 1024px;
$tablet-width: 950px;
$mobile-width: 480px;

.header-bg{
    height: 224px;
    background-color: $brand-dark-blue;
    border-radius: 0px 0px 0px 130px;
}




