$brand-white: #FFF;
$brand-black: #2E2E2E;
$brand-bright-blue: #1DA1F2;
$brand-dark-blue: #0E71A7;
$brand-font: 'IBM Plex Sans Condensed', sans-serif;

$small-laptop-width: 1024px;
$tablet-width: 950px;
$mobile-width: 480px;


body{
    font-family: $brand-font;
    width: 100%;
}

.header-bg{
    height: 224px;
    width: 100%;
    background-color: $brand-dark-blue;
    border-radius: 0px 0px 0px 130px;
}

.logo{
    .logo-icon{
        position: absolute;
        top: 57px;
        left: 41.4%;
    }

    .brand-name{
        position: absolute;
        top: 20px;
        left: 44.84%;
        display: inline;

        font-size: 48px;
        font-weight: 700;
        color: $brand-white;
        text-transform: uppercase;
    }
}



.upcoming-section{
    position: absolute;
    top: 112px;
    left: 128px;
    z-index: 2;

    h1{
        color: $brand-white;
        font-size: 24px;
        font-weight: 400;
    }

    .card-grid{
       position: absolute;
        top: 70px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 55px; 

        .card{
            position: relative;
            width: 379px;
            height: 172px;
            background-color: $brand-white;
            border-radius: 10px;
            box-shadow: 0px 7px 7px rgba(46, 46, 46, 0.25);

            .date-time{
                position: absolute;
                left: 16px;
                top: 16px;

                h3{
                    display: inline;
                    font-size: 16px;
                    font-weight: 400;
                    color: $brand-black;
                    opacity: 0.7;
                }
            }

            .circle{
                position: absolute;
                left: 317px;
                top: 16px;

                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;

                background-color: $brand-black;
            }

            .course-name{
                position: absolute;
                left: 16px;
                top: 16px;

                font-size: 32px;
                font-weight: 400;
                color: $brand-dark-blue;
            }

            .course-descriptionn{
                position: absolute;
                left: 16px;
                top: 70px;
                width: 90%;

                font-size: 16px;
                font-weight: 400;
                color: $brand-black;
                opacity: 0.7;
            }
        }
    }
}



.courses-enrolled-section{
    position: relative;
    z-index: 2;

    width: 810px;
    height: 250px;

    background-color: $brand-white;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 4px rgba(46, 46, 46, 0.25);

    h1{
        position: absolute;
        left: 16px;
        top: 16px;

        font-size: 32px;
        font-weight: 400;
        color: $brand-dark-blue;
        margin-top: 0;
    }

    .plus-btn{
        position: absolute;
        right: 16px;
        top: 10px;
        background: transparent;
        border: none;

        &:hover {
            circle{
                fill: $brand-bright-blue;
            }
            cursor: pointer;
        }
    }

    .card-grid{
        position: absolute;
        top: 80px;
        left: 16px;
        width: 768px;

        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, 145px);
        gap: 20px;
        overflow-x: scroll;

        .card{
            position: relative;
            width: 145px;
            height: 145px;
            background-color: $brand-dark-blue;
            border-radius: 10px;

            &:hover {
                background-color: $brand-bright-blue;
                cursor: pointer;
            }

            .circle{
                position: absolute;
                right: 16px;
                top: 16px;

                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;

                background-color: $brand-black;
            }

            .course-name{
                position: absolute;
                left: 16px;
                bottom: 0px;

                font-size: 24px;
                font-weight: 400;
                color: $brand-white;
            }
        }
    }
}


.courses-instructed-section{
    position: relative;
    z-index: 2;

    width: 810px;
    height: 250px;

    background-color: $brand-white;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 4px rgba(46, 46, 46, 0.25);

    h1{
        position: absolute;
        left: 16px;
        top: 16px;

        font-size: 32px;
        font-weight: 400;
        color: $brand-dark-blue;
        margin-top: 0;
    }

    .card-grid{
        position: absolute;
        top: 80px;
        left: 16px;
        width: 768px;

        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, 145px);
        gap: 20px;
        overflow-x: scroll;

        .card{
            position: relative;
            width: 145px;
            height: 145px;
            background-color: $brand-dark-blue;
            border-radius: 10px;

            &:hover {
                background-color: $brand-bright-blue;
                cursor: pointer;
            }

            .circle{
                position: absolute;
                right: 16px;
                top: 16px;

                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;

                background-color: $brand-black;
            }

            .course-name{
                position: absolute;
                left: 16px;
                bottom: 0px;

                font-size: 24px;
                font-weight: 400;
                color: $brand-white;
            }
        }
    }
}


.calendar-section{
    position: relative;
    z-index: 2;

    width: 379px;
    height: 520px;

    background-color: $brand-white;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 4px rgba(46, 46, 46, 0.25);

    h1{
        position: absolute;
        left: 16px;
        top: 16px;

        font-size: 32px;
        font-weight: 400;
        color: $brand-dark-blue;
        margin-top: 0;
    }

    .num_courses {
        position: absolute;
        left: 16px;
        top: 60px;

        font-size: 16px;
        font-weight: 400;
        color: $brand-black;
        opacity: 0.7;
        margin-top: 0;
    }

    .card-grid{
        position: absolute;
        top: 100px;
        left: 16px;
        height: 400px;

        display: grid;
        grid-auto-flow: row;
        grid-template-rows: repeat(auto-fit, 83px);
        gap: 20px;
        overflow-y: scroll;

        .card{
            position: relative;
            width: 324px;
            height: 83px;
            background-color: $brand-dark-blue;
            border-radius: 10px;

            &:hover {
                background-color: $brand-bright-blue;
                cursor: pointer;
            }

            .circle{
                position: absolute;
                left: 16px;
                top: 16px;

                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;

                background-color: $brand-black;
            }

            .course-name{
                position: absolute;
                left: 80px;
                top: 16px;
                margin-top: 0;

                font-size: 24px;
                font-weight: 400;
                color: $brand-white;
            }

            .date-time{
                position: absolute;
                left: 80px;
                bottom: 12px;

                h3{
                    display: inline;
                    font-size: 16px;
                    font-weight: 400;
                    color: $brand-white;
                }
            }
        }
    }
}

.section-container {
    display: grid;
    grid-template-columns: 379px 820px;
    grid-template-rows: 550px;
    gap: 55px;

    width: min-content;
    margin-bottom: 20px;

    position: relative;
    top: 175px;
    left: 128px;
}
  
.section2 {
    display: grid;
    grid-template-rows: 250px 250px;
    gap: 20px;
}

.modal {
    position: fixed;
    top: calc((100vh - 250px)/2);
    left: calc((100vw - 500px)/2);
    z-index: 4;

    width: 500px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid $brand-bright-blue;
    overflow: hidden;

    .modal-title {
        background-color: $brand-dark-blue;

        h1 {
            font-size: 32px;
            font-weight: 400;
            color: $brand-white;

            margin-top: 0;
            text-align: center;
            padding: 10px 0px;
        }

        #close-enroll-modal{
            position: absolute;
            right: 16px;
            top: 20px;

            &:hover {
                path{fill: $brand-bright-blue}
            }
        }
    }

    .modal-body{
        position: absolute;
        left: 5%;
        width: 90%;

        form{
            width: 100%;

            .input-field{
                height: 86px;
                width: 100%;
                text-align: center;
    
                margin-bottom: 42px;
                border-radius: 10px;
                border: solid 1px rgba(46, 46, 46, 0.7);
                background-color: $brand-white;
    
                input{
                    width: 90%;
                    height: 90%;
                    margin-top: 1%;
    
                    font-size: 36px;
                    font-weight: 400;
                    color: $brand-black;
    
                    border: none;
                    background-color: transparent;
    
                    &:focus{
                        border: none !important;
                        outline: none;
                    }
    
                    &::placeholder{
                        opacity: 0.7;
                    }
                }
            }

            button{
                height: 86px;
                width: 100%;
                border: none;
                border-radius: 10px;
    
                font-size: 36px;
                font-weight: 700;
                color: $brand-white;
                background-color: $brand-dark-blue;
    
                &:hover {
                    background-color: $brand-bright-blue;
                }
            }
        }
    }
}

.enroll-box{
    display: none;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brand-black;
    opacity: 0.7;
    display: none;
    z-index: 3;
}
  
