body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  width: 100%;
}

.header-bg {
  height: 224px;
  width: 100%;
  background-color: #0E71A7;
  border-radius: 0px 0px 0px 130px;
}

.logo .logo-icon {
  position: absolute;
  top: 57px;
  left: 41.4%;
}
.logo .brand-name {
  position: absolute;
  top: 20px;
  left: 44.84%;
  display: inline;
  font-size: 48px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.upcoming-section {
  position: absolute;
  top: 112px;
  left: 128px;
  z-index: 2;
}
.upcoming-section h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}
.upcoming-section .card-grid {
  position: absolute;
  top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}
.upcoming-section .card-grid .card {
  position: relative;
  width: 379px;
  height: 172px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 7px 7px rgba(46, 46, 46, 0.25);
}
.upcoming-section .card-grid .card .date-time {
  position: absolute;
  left: 16px;
  top: 16px;
}
.upcoming-section .card-grid .card .date-time h3 {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  color: #2E2E2E;
  opacity: 0.7;
}
.upcoming-section .card-grid .card .circle {
  position: absolute;
  left: 317px;
  top: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2E2E2E;
}
.upcoming-section .card-grid .card .course-name {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 32px;
  font-weight: 400;
  color: #0E71A7;
}
.upcoming-section .card-grid .card .course-descriptionn {
  position: absolute;
  left: 16px;
  top: 70px;
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  color: #2E2E2E;
  opacity: 0.7;
}

.courses-enrolled-section {
  position: relative;
  z-index: 2;
  width: 810px;
  height: 250px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 7px 4px rgba(46, 46, 46, 0.25);
}
.courses-enrolled-section h1 {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 32px;
  font-weight: 400;
  color: #0E71A7;
  margin-top: 0;
}
.courses-enrolled-section .plus-btn {
  position: absolute;
  right: 16px;
  top: 10px;
  background: transparent;
  border: none;
}
.courses-enrolled-section .plus-btn:hover {
  cursor: pointer;
}
.courses-enrolled-section .plus-btn:hover circle {
  fill: #1DA1F2;
}
.courses-enrolled-section .card-grid {
  position: absolute;
  top: 80px;
  left: 16px;
  width: 768px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 145px);
  gap: 20px;
  overflow-x: scroll;
}
.courses-enrolled-section .card-grid .card {
  position: relative;
  width: 145px;
  height: 145px;
  background-color: #0E71A7;
  border-radius: 10px;
}
.courses-enrolled-section .card-grid .card:hover {
  background-color: #1DA1F2;
  cursor: pointer;
}
.courses-enrolled-section .card-grid .card .circle {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2E2E2E;
}
.courses-enrolled-section .card-grid .card .course-name {
  position: absolute;
  left: 16px;
  bottom: 0px;
  font-size: 24px;
  font-weight: 400;
  color: #FFF;
}

.courses-instructed-section {
  position: relative;
  z-index: 2;
  width: 810px;
  height: 250px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 7px 4px rgba(46, 46, 46, 0.25);
}
.courses-instructed-section h1 {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 32px;
  font-weight: 400;
  color: #0E71A7;
  margin-top: 0;
}
.courses-instructed-section .card-grid {
  position: absolute;
  top: 80px;
  left: 16px;
  width: 768px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 145px);
  gap: 20px;
  overflow-x: scroll;
}
.courses-instructed-section .card-grid .card {
  position: relative;
  width: 145px;
  height: 145px;
  background-color: #0E71A7;
  border-radius: 10px;
}
.courses-instructed-section .card-grid .card:hover {
  background-color: #1DA1F2;
  cursor: pointer;
}
.courses-instructed-section .card-grid .card .circle {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2E2E2E;
}
.courses-instructed-section .card-grid .card .course-name {
  position: absolute;
  left: 16px;
  bottom: 0px;
  font-size: 24px;
  font-weight: 400;
  color: #FFF;
}

.calendar-section {
  position: relative;
  z-index: 2;
  width: 379px;
  height: 520px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 7px 4px rgba(46, 46, 46, 0.25);
}
.calendar-section h1 {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 32px;
  font-weight: 400;
  color: #0E71A7;
  margin-top: 0;
}
.calendar-section .num_courses {
  position: absolute;
  left: 16px;
  top: 60px;
  font-size: 16px;
  font-weight: 400;
  color: #2E2E2E;
  opacity: 0.7;
  margin-top: 0;
}
.calendar-section .card-grid {
  position: absolute;
  top: 100px;
  left: 16px;
  height: 400px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 83px);
  gap: 20px;
  overflow-y: scroll;
}
.calendar-section .card-grid .card {
  position: relative;
  width: 324px;
  height: 83px;
  background-color: #0E71A7;
  border-radius: 10px;
}
.calendar-section .card-grid .card:hover {
  background-color: #1DA1F2;
  cursor: pointer;
}
.calendar-section .card-grid .card .circle {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #2E2E2E;
}
.calendar-section .card-grid .card .course-name {
  position: absolute;
  left: 80px;
  top: 16px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
  color: #FFF;
}
.calendar-section .card-grid .card .date-time {
  position: absolute;
  left: 80px;
  bottom: 12px;
}
.calendar-section .card-grid .card .date-time h3 {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
}

.section-container {
  display: grid;
  grid-template-columns: 379px 820px;
  grid-template-rows: 550px;
  gap: 55px;
  width: min-content;
  margin-bottom: 20px;
  position: relative;
  top: 175px;
  left: 128px;
}

.section2 {
  display: grid;
  grid-template-rows: 250px 250px;
  gap: 20px;
}

.modal {
  position: fixed;
  top: calc((100vh - 250px) / 2);
  left: calc((100vw - 500px) / 2);
  z-index: 4;
  width: 500px;
  height: 320px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #1DA1F2;
  overflow: hidden;
}
.modal .modal-title {
  background-color: #0E71A7;
}
.modal .modal-title h1 {
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
  margin-top: 0;
  text-align: center;
  padding: 10px 0px;
}
.modal .modal-title #close-enroll-modal {
  position: absolute;
  right: 16px;
  top: 20px;
}
.modal .modal-title #close-enroll-modal:hover path {
  fill: #1DA1F2;
}
.modal .modal-body {
  position: absolute;
  left: 5%;
  width: 90%;
}
.modal .modal-body form {
  width: 100%;
}
.modal .modal-body form .input-field {
  height: 86px;
  width: 100%;
  text-align: center;
  margin-bottom: 42px;
  border-radius: 10px;
  border: solid 1px rgba(46, 46, 46, 0.7);
  background-color: #FFF;
}
.modal .modal-body form .input-field input {
  width: 90%;
  height: 90%;
  margin-top: 1%;
  font-size: 36px;
  font-weight: 400;
  color: #2E2E2E;
  border: none;
  background-color: transparent;
}
.modal .modal-body form .input-field input:focus {
  border: none !important;
  outline: none;
}
.modal .modal-body form .input-field input::placeholder {
  opacity: 0.7;
}
.modal .modal-body form button {
  height: 86px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 36px;
  font-weight: 700;
  color: #FFF;
  background-color: #0E71A7;
}
.modal .modal-body form button:hover {
  background-color: #1DA1F2;
}

.enroll-box {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2E2E2E;
  opacity: 0.7;
  display: none;
  z-index: 3;
}

/*# sourceMappingURL=dashboard.view.css.map */
